{% extends "!layout.html" %}
  {% block footer %} {{ super() }}

  <style>
    /* Sidebar */
   
    .wy-nav-side {
      background: #4b0082;
    }
    
    .wy-nav-content {
    max-width: 90%;
   }
   
   /* override table width restrictions */
  
  .wy-table-responsive table td, .wy-table-responsive table th {
    white-space: normal;
}

  .wy-table-responsive {
    overflow: visible !important;
  }

    h1{
      font-size:300%;
      font-family: "Times New Roman";
      color: maroon ;
    }

    h2 {
      color: green ;
    }
    
     h3 {
      color: #7e42bf ;
      font-family: "Times New Roman";
    }
    
    .red {
      color: red;
    }

    .blue {
      color: blue;
    }

    .big{
      font-size: 25px;
    }

    
   
  
  </style>
{% endblock %}
